.container{
    padding: 50px;
}
.container-input{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.container-input input{
    margin: 0 20px;
}
.container-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.container-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mycanvas{
    width: 960px;
    height: 960px;
    border: 1px solid #666;
    margin: auto;
}
.title{
    text-align: center;
}
