<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fsm.css">
    <title>FrameSpriteMaker</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>

    <header>
        <div class="wp header-container">
            <h1><a href="https://github.com/pspgbhu/FrameSpriteMaker">逐帧动画雪碧图生成器</a></h1>
            <div class="header-right">
                <a href="https://github.com/pspgbhu/FrameSpriteMaker">Github</a>
            </div>
        </div>
    </header>

    <div class="container wp clearfix">
        <!-- 主显示区域 -->
        <div class="main">
            <div class="title">
                <h3>工具介绍：</h3>
                <p>本工具可以将宽高像素相同的逐帧图一键生成为连续帧的雪碧图（如果宽高不相同，将会以第一张图的宽高像素作为基准）</p>
                <h3>使用说明：</h3>
                <p>在输入框中分别输入单张图片的宽高像素，将已经命名规范的逐帧图一次全部上传（再次上传会覆盖之前上传的内容）。点击生成图片，右键保存图片即可！</p>
                <p class="tip">注意：上传的图片宽高应当一致</p>
            </div>
            <div class="main-canvas">
                <canvas id="mycanvas" class="mycanvas hide"></canvas>
            </div>
        </div>
        <!-- 侧栏 -->
        <div class="side">
            <div  class="sidebar">
                <div class="sidebar-item">
                    <label class="upImg">
                        上传图片
                        <input id="upImg" class="input hide" type="file" multiple />
                    </label>
                </div>
                <div  id="infor-container" class="sidebar-item  hide">
                    <ul id="infor" class="infor">

                    </ul>
                </div>
                <div id="settings-container" class="sidebar-item settings">
                    <div class="input-item">
                        <label>宽度：</label>
                        <input id="input-width" type="text" placeholder="不填写则取默认值" />px
                    </div>
                    <div class="input-item">
                        <label>高度：</label>
                        <input id="input-height" type="text" placeholder="不填写则取默认值" />px
                    </div>
                    <div  >
                        <p class="tip">
                          暂不支持自定义比例
                        </p>
                    </div>
                    <!-- <div class="input-item">
                        <label>保持比例：</label>
                        <input id="input-ratio" type="checkbox" checked="checked" readonly="readonly" />
                    </div> -->
                </div>
                <div id="make-container" class="sidebar-item hide">
                    <label id="makeImage" class="makeImage">
                        生成雪碧图
                    </label>
                </div>
            </div>

        </div>
    </div>

    <footer></footer>

<script src="js/fsm.js"></script>
</body>
</html>
